<% title "Contact Us" %>

<div id="contactbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h3>"I think a simple rule of business is, if you do the things that are easier first, then you can actually make a lot of progress. -</h3>
			<small>Mark Zuckerberg - Founder & CEO of Facebook</small>
		</div>
	</div>
</div>

<section>
	<div class="single">
		<h2><%= yield(:title) %></h2>
		<p>If you want to talk about potential partnerships or have any other questions, please contact <a href="emailto:kareem.kwong@gmail.com">kareem.kwong@gmail.com</a></p>

		<h3>Our Address</h3>
		<strong>University of Toronto Scarborough</strong>
		<p>1265 Military Trail<br/>
			Toronto, ON<br/>M1C 1A4</p>
	</div>
</section>