<% title "Events" %>


<div id="eventbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>“Everyone has an idea. But it’s really about executing the idea and attracting other people to help you work on the idea.”</h4>
			<small>- Jack Dorsey, Co-Founder of Twitter and Co-Founder & CEO of Square</small>
		</div>
	</div>
</div>


<section>
	<div class="single">
		<div class="content">
			<h2><%= yield(:title) %></h2>

			<p>Currently building...</p>
		</div>
	</div>
</section>
		        	
