<% title "Events" %>


<div id="eventbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h3>“Everyone has an idea. But it’s really about executing the idea and attracting other people to help you work on the idea.”</h3>
			<small>- Jack Dorsey, Co-Founder of Twitter and Co-Founder & CEO of Square</small>
		</div>
	</div>
</div>


<section>
	<div class="single">
		<h2><%= yield(:title) %></h2>

		<h3>UpStart School</h3>
		<p>UpstartSchool offers workshops and resources designed to equip students with the skills to build businesses and to go from ideation to execution.</p>
		
		<h3>AppStart</h3>
		<p>We work with our partners to familiarize students with the technical skills they need to build digital enterprises.</p>
		

		<h3>Other Events</h3>
	</div>
</section>
		        	
