<% title "Events" %>


<div id="eventbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>“Everyone has an idea. But it’s really about executing the idea and attracting other people to help you work on the idea.”</h4>
			<small>- Jack Dorsey, Co-Founder of Twitter and Co-Founder & CEO of Square</small>
		</div>
	</div>
</div>


<section>
	<div class="single">
		<div class="content">
			<h2><%= yield(:title) %></h2>

			<h3>UpStart School</h3>
			<p>UpstartSchool offers workshops and resources designed to equip students with the skills to build businesses and to go from ideation to execution.</p>
			
			<h3>AppStart</h3>
			<p>We work with our partners to familiarize students with the technical skills they need to build digital enterprises.</p>
			
			<h3>Smash45</h3>
			<p>Every January we have a conference for students in the GTA and across Canada to get together and build startups over 45 hours.</p>
			<h3>Other Events</h3>
		</div>
	</div>
</section>
		        	
