<% title "Events" %>


<div id="eventbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>“Everyone has an idea. But it’s really about executing the idea and attracting other people to help you work on the idea.”</h4>
			<small>- Jack Dorsey, Co-Founder of Twitter and Co-Founder & CEO of Square</small>
		</div>
	</div>
</div>


<section>
	<div class="single">
		<div class="content">
			<h2><%= yield(:title) %></h2>

			<table class="table table-striped">
	            <tr>
	              <th>Date</th>
	              <th>Event</th>
	              <th>Time</th>
	              <th>Location</th>
	              <th>Tickets</th>
	            </tr>
	            <tr>
	              <td>TBA</td>
	              <td></td>
	              <td></td>
	              <td></td>
	              <td></td>
	            </tr>
	            <tr>
	              <td>TBA</td>
	              <td></td>
	              <td></td>
	              <td></td>
	              <td></td>
	            </tr>
	            <tr>
	              <td>TBA</td>
	              <td></td>
	              <td></td>
	              <td></td>
	              <td></td>
	            </tr>
	            <tr>
            </table>
		</div>
	</div>
</section>
		        	
