  <div id="banner">
    <div class="container">
    <h2>Rocketing Towards the Future</h2> 
  </div>
  </div>

  <div id="intro-row">
    <div class="container">
      <%= image_tag("book.png") %>
   <h4>Are you a student?</h4>
   <h5>We're creating something big here. Stay tuned: register for membership today!</h5>
  </div>
  </div>

  <div id="about-row">
    <div class="span8">
    </div>
    <div class="span4">
    </div>
  </div>

  <div id="email-row">
    <div class="container">
      <div class="row">
        <div class="center">
          <div class="span4 offset2">
          <h4>Get the best news in your inbox</h4>
          </div
          <div class="span4">
              <%= form_tag do %>
                <%= email_field(:user, :address) %>
                <%= submit_tag("Go", :class => "btn btn-primary btn-wide") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  
