  <div id="banner">
    <div class="container">
      <div class="span7">
      <h3>UpStart is more then just a club. It's a movement: the catalyst that fuels entrepreneurship with students at the University of Toronto Scarborough.</h3> </div>
      <div class="span5">
      </div>
    </div>
  </div>

  <div id="intro-row">
    <div class="container">
      <%= image_tag("Bulb.png") %>
   <h4>Are you a student with big ideas?</h4>
   <h5>We're creating something big here. Stay tuned: Register for membership today!</h5>
  </div>
  </div>

  <div id="about-row">
    <div class="span6">
      <h4>Our Programs</h4>

    </div>
    <div class="span6">
      <h4>Upcoming Events</h4>
      <table class="table table-striped">
            <tr>
              <th>Date</th>
              <th>Event</th>
              <th>Location</th>
              <th>Tickets</th>
            </tr>
            <tr>
              <td>May 14th</td>
              <td>Ignition Series</td>
              <td>IC130</td>
              <td>Here</td>
            </tr>
            <tr>
              <td>TBA</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>TBA</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            
          </table>
    </div>
  </div>

  <div id="email-row">
    <div class="container">
      <div class="row">
        <div class="center">
          <div class="span4 offset2">
          <h4>Get the best news in your inbox</h4>
          </div
          <div class="span4">
              <%= form_tag do %>
                <%= email_field(:user, :address) %>
                <%= submit_tag("Go", :class => "btn btn-primary btn-wide") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  
