<% title "Jobs" %>


<div id="contactbox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>"“The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you’ve found it.”</h4>
			<small>- Steve Jobs (1955-2011) Co-founder, CEO and Chairman of Apple</small>
		</div>
	</div>
</div>


<section>
	<div class="single">
		<div class="content">
		<h2><%= yield(:title) %></h2>

<h4>We are hiring!</h4>
<p>We can’t wait to see your applications! Please submit an <a href="https://docs.google.com/forms/d/1G9-Vpo5PpTPUjCIeZsmeqDOnTXlkA49O72JXQ0Ed5dc/viewform">Application form</a> and send your resume to Jon Zhou, Operations Manager <a href="emailto:jasmine@upstartutsc.com">jonathan@upstartutsc.com</a> with the subject line “UpStart 2013-2014 Applicant Name”. Applications are due Monday September 30th, 11:59PM EST</p>
<br/> 	
Join UpStart and you’ll have an opportunity to:
<ul>
	<li>* Help students build their businesses and develop their ideas</li>
	<li>* Plan and execute on SmashUp, a two day start-up competition that will bring together students from across the country to build businesses and products</li>
	<li>* Work with industry professionals, entrepreneurs and start-ups to bring workshops and events to UTSC
</li>

	<li>* Excel in a fun, fast-paced and extremely collaborative team environment</li>
</ul>
<br />

<h3>Marketing Team</h3>

<p><strong>Graphic Designers (2)</strong></p>

<p>We are looking for driven and passionate Graphic Designers that have a raw talent for colours, typography and illustration. As a graphic designer you will work within the marketing team to creating beautiful, creative and effective marketing materials. You will be responsible for representing UpStart’s brand, as well as expected to take it in exciting new directions. UpStart is a great place for a graphic designer to thrive and build their portfolio because we value collaboration and ideas over process and structure.</p>

<em>Skills</em>
<ul>
	<li>* Experienced with Adobe Photoshop, Illustrator and InDesign in designing for print and web (posters, sponsorship packages, banners, and logos).</li>
	<li>* Thrives in a fun, fast-paced team environment</li>
	<li>* Passionate about branding, illustration and design</li>
	<li>* Ability to code in HTML/CSS/JS is not required but is definitely an asset.</li>
	<li>* A sample of past work will be required.</li>
</ul>

<br />
<br />

<h3>Business Development Team</h3>

<p><strong>Business Development Managers (2)</strong></p>

<p>We are looking for an elite-level business development manager with experience. A true hunter, you are assertive, tenacious, and passionate about reaching out to potential partners. You want to build amazing relationships that help grow UpStart, The Hub and UTSC. You're obsess 24/7 over bringing in the partners we need to deliver great workshops. UpStart is a great place to push your boundaries and develop your skills because we value collaboration and ideas over process and structure.</p>

<em>Skills</em>
<ul>
	<li>* "Must do" attitude; Assertive, passionate, and fearless</li>
	<li>* Strong verbal communication and interpersonal skills</li>
	<li>* Knowledgeable about entrepreneurship and start-ups in general</li>
</ul>
<br/>
<br/>

<h3>Operations Team</h3>

<strong>Operations Manager (1)</strong>

<p>We are keeping our eye out for an assertive and go-getter Operations Manager who will be responsible for the strategy and implementation of our skills-based workshops at UTSC as well as the SmashUp Conference in 2014. You will be responsible for managing event logistics and ensuring that event run smoothly. As an Operations Manager, you will also handle all Human Resource initiatives and manage the financial aspects of the organization. The best Operations Manager has a student-centered mindset, and stop at nothing to deliver exceptional event experiences.</p>

<em>Skills</em>
<ul>
	<li>* Experience with event coordination and planning</li>
	<li>* Excellent analytical, communication and interpersonal skills</li>
	<li>* Proficient in Microsoft Office (Excel, Word, PowerPoint)</li>
	<li>* Knowledgeable about entrepreneurship and start-ups in general</li>
</ul>

<br />

<strong>IT Manager(1)</strong>

<p>We need a talented Information Technology Manager who can turn communicate beautiful ideas into functioning and beautiful concepts. As the IT Manager, you will be working within the Operations team to build websites and applications for our workshops and conferences. UpStart is a great place to thrive and build their portfolio because we value collaboration and ideas over process and structure.</p>

<em>Skills</em>

<ul>
	<li>* Ability to code in HTML/CSS/JS is required</li>
	<li>* Experience with or willing to learn how to use Ruby on Rails, Github & Heroku</li>
	<li>* Past experience with MVC frameworks is a bonus</li>
	<li>* A sample of past work will be required</li>
</ul>
		</div>
	</div>

	<div class="single">
		<div class="content">
				<h3>Our Programs</h3>
		         <p>Check out some of the projects you will be working on!</p>
			<div class="row">
		          <div class="span4">
		     
		          <%= image_tag("Bulb.png", :class => "main-icons") %>
		           <h4>StartupSchool</h4>
		           <h5>We host a collection of experiential, hands-on workshops to help students build businesses and take their ideas from ideation to execution.</h5>
		         </div>
		         <div class="span4">
		          <%= image_tag("Spaceship.png", :class => "main-icons") %>
		           <h4>SmashUp</h4>
		           <h5>Every year, students from across Canada come together for 2 days of intense skill-based entrepreneurial workshops and launching their own startups.</h5>
		         </div>
		         <div class="span4">
		          <%= image_tag("Girl.png", :class => "main-icons") %>
		           <h4>Discovery Network</h4>
		           <h5>We help UTSC students connect with talent and potential co-founders.</h5>
		         </div>
		        </div>
			</div>
	</div>
</section>