<% title "Resources" %>

<div id="resourcebox" class="contentbox">
	<div class="row">
		<div class="secondarybox">
			<h4>“If you want to create a great product, just focus on one person. Make that one person have the most amazing experience ever."
			</h4>
			<small>- Brian Chesky, Co-Founder & CEO of Airbnb</small>
		</div>
	</div>
</div>

<section>
	<div class="single">
		<h2><%= yield(:title) %></h2>
		<em>Currently under construction!</em>

		<p>This is where you will find the best videos, articles and tools for students trying to work on their ideas and business</p>
				<h4>Strategy Tools</h4>
				<ul>
					<li><a href="http://www.businessmodelgeneration.com/canvas">Business Model Canvas</a></li>
				</ul>
			
				<h3>Lean Methodology Sources</h3>
				<ul>
					<li><a href="http://steveblank.com/">Steve Blank</a></li>
					<li><a href="http://www.startuplessonslearned.com/">Eric Ries</a></li>
				</ul>

				<em>Also check out some of UpStart's great events happening <%= link_to('here', event_path) %><em>
		
		
	</div>
</section>