<% title "Startup School" %>


<div class="single">
	<div class="content">

	<h2><%= yield(:title) %></h2>

	<p>
		UpStart hosts workshops throughout the year to arm students with the weaponry they need to wreck havoc on the business world. We work with our fantastic local partners to teach modern topics and skills that you won't learn in school.
	</p>
	<p>
		To bombard you with some of our workshop topics: 
		<ul>
			<li>Business Design</li>
			<li>Growth Hacking</li>
			<li>Building Websites with Ruby on Rails</li>
			<li>Startup Marketing</li>
			<li>Customer Development</li>
			<li>How to Pitch to a VC</li>
			<li>Building Brands</li>
			<li>Product Development</li>
		</ul>
		
		Wooo, overwhelmed yet?
	</p>

	</div>
</div>