<footer>
    <div class="footer">
      <div class="container">
          <div class="row">
            

            <div class="span8">
              <small>Crafted with &hearts; in Toronto by <%= link_to("@kwngo", "http://twitter.com/kwngo") %></small>
            </div>

            <div class="span4">
              <ul class="bottom-icons">
                <li><a href="#fakelink" class="fui-pinterest"></a></li>
                <li><a href="#fakelink" class="fui-facebook"></a></li>
                <li><a href="#fakelink" class="fui-twitter"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> <!-- /bottom-menu-inverse -->
    </div>
  </footer>
</body>
</html>