<footer>
    <div class="footer">
      <div class="container">
          <div class="row">

            <div class="span2">
              <h5>UpStart</h5>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>

            <div class="span2">
              <h5>Community</h5>
              <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="http://www.facebook.com/upstartinnovationsociety">Facebook</a></li>
                <li><a href="http://www.twitter.com/upstartutsc">Twitter</a></li>
              </ul>
            </div>
          </div>
            

            <div id="credit">
              <small>Crafted with &hearts; in Toronto by <%= link_to("@kwngo", "http://twitter.com/kwngo") %></small>
            </div>
            
        </div>
      </div> <!-- /bottom-menu-inverse -->
    </div>
  </footer>
</body>
</html>