<footer>
			<div id="footercontainer">
				<div class="container-fluid">
					<div class="row">
						<div class="span2">
							<h5>UpStart</h5>
							<ul>
								<li><%= link_to("About", about_path) %></li>
								<li><%= link_to("Contact", contact_path) %></li>
							</ul>
						</div>

						<div class="span2">
							<h5>Community</h5>
							<ul>
								<li><a href="http://www.facebook.com/UpstartInnovationSociety">Facebook</a></li>
								<li><a href="http://www.twitter.com/upstartutsc">Twitter</a></li>
							</ul>
						</div>
					</div>
					<div id="credit">
						<p class="muted credit">RocketStart built with &#9829; by <a href="http://www.twitter.com/kwngo">@kwngo</a></p>
					</div>
				</div>
			</div>
			
		</footer>
	</div>
		
</body>

	<!-- Javascript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>